.container {
  display: flex;
  align-items: center;
  justify-content: center;
  .content h3 {
    color: white;
  }
  // div {
  //   position: relative;
  //   height: 20rem;
  //   width: 20rem;
  // }
}
